/* Styles du template */

/**************************************************************
* BODY
**************************************************************/

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/**************************************************************
* NAVIGATION
**************************************************************/

nav {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  padding: 10px 5px;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

#logo {
  width: 75px;
}

/**************************************************************
* Partie Main
**************************************************************/

main{
  padding: 30px;
}

.contenuAcceuil1{
  display:  flex;
  margin: 20px;
  padding: 10px;
  border: 4mm ridge rgba(170, 50, 220, .6);
}

.contenuAcceuil2{
  border: 4mm ridge rgba(170, 50, 220, .6);
  margin: 20px;
  padding: 10px;
}

.listePartenaires{
  border: 4mm ridge rgba(170, 50, 220, .6);
  margin: 20px;
  padding: 10px;
}

.listePartenaires div{
  display: flex;
}


/**************************************************************
* Partie Footer
**************************************************************/
footer ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
}

footer ul li{
  padding: 10px;
  margin: 10px;

}

/**************************************************************
* Partie authentification
**************************************************************/

form {
  display: flex;
  flex-direction: row;
}

output{
  color: red;
}

.authen button {
  font-size: 20px;
}

.hidden {
  display: none;
}

/* Bordered form */
.authen {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width inputs */
.authen input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Boutton Confirmation*/
button {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
}
button:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
