/* Styles du template */

/**************************************************************
* BODY
**************************************************************/

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/**************************************************************
* NAVIGATION
**************************************************************/

nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: max-content;
}

ul li {
  list-style: none;
  padding: 10px 5px;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.30);
  transition: all .2s ease-in-out;
}

ul li a:hover {
  color: black;
}

nav ul:nth-child(1) li:nth-child(1), nav ul:nth-child(2) li {
  padding: 0;
}

#logo {
  width: 75px;
  padding: 0;
  margin-right: 10px;
  transition: all .2s ease-in-out;
}

#logo:hover {
  transform: scale(1.05);
  transform: rotateZ(5deg);
}

/**************************************************************
* Partie Main
**************************************************************/

section {
  display: flex;
}

section h1 {
  color: #0036d9;
  font-size: 42px;
}

#section-accueil{
  justify-content: center;
  align-items: center;
}

#section-accueil button{
  margin-left: 0;
  margin-right: 5px;
  border-radius: 5px;
}

#section-accueil h4 {
  margin-bottom: 10px;
}

#section-accueil div:nth-child(1) {
  width: 500px;
}

form {
  display: flex;
  flex-direction: row;
}

/**************************************************************
* SVG
**************************************************************/

#svg1 svg{
	width: 800px;
  height: 600px;
	text-align: center;
}

#svg2 svg{
	width: 800px;
  height: 600px;
	text-align: center;
}


/**************************************************************
* FOOTER
**************************************************************/

footer {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 12px;
}

footer ul{
  justify-content: center;
}

footer ul li {
  list-style: none;
  padding: 10px 5px;
}

footer ul li a:hover {
  color: black;
  text-decoration: underline;
}

/**************************************************************
* LOG
**************************************************************/


output{
  color: red;
}

.authen button {
  font-size: 20px;
}

.hidden {
  display: none;
}

#section-log {
  justify-content: center;
  align-items: center;
}

.log {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 126px;
}

.log h2 {
  color: #0036d9;
}

.log input[type=text], input[type=password]{
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid #B9B8D8;
  outline: none;
  border-radius: 5px;
}

.log button {
  width: 100%;
  border-radius: 50px;
  transition: all .2s ease-in-out;
  margin: 0;
  margin-top: 9px;
  padding: 5px 0;
}

.log button:hover {
  border-radius: 5px;
}

button {
  background-color: transparent;
  color: #0036d9;
  border: 2px solid #0036d9;
  border-radius: 50px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

button:hover {
  background-color: #0036d9;
  color: white;
}
