:root {
  --color-blue1: #0036d9;
  --color-blue2: #0036d94b;
  --color-yellow1: #fac120;
  --color-white: white;
  --color-black: black;
  --color-grey: #B9B8D8;


  --font-raleway: 'Raleway';
}

/**************************************************************
* HTML & BODY
**************************************************************/

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-raleway);
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/**************************************************************
* NAVIGATION
**************************************************************/

nav {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: max-content;
}

nav ul:nth-child(1) div li {
  display: inline-block;
}

ul li {
  list-style: none;
  padding: 10px 5px;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.50);
  transition: all .2s ease-in-out;
}

ul li a:hover {
  color: black;
}

nav ul:nth-child(1) li:nth-child(1), nav ul:nth-child(2) li {
  padding: 0;
}
nav>ul{
  margin: 5px 6em 5px 6em;
}

#logo {
  width: 75px;
  padding: 0;
  margin-right: 10px;
  transition: all .2s ease-in-out;
}

#logo:hover {
  transform: rotateZ(-5deg);
}

#btn-compte {
  /*border: 2px solid var(--color-blue1);
  align-items: center;
  */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#btn-compte i {
  color: var(--color-blue1);
  transform: scale(1.9);
}

/*#btn-compte img {
  border-radius: 100%;
  transition: all .2s ease-in-out;
}

/*#btn-compte:hover img {
  transform: scale(1.05);
}*/

/**************************************************************
* MAIN
**************************************************************/

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.asterisque {
  color: var(--color-black);
  font-size: 12px;
}

h1 {
  margin-top: 0;
}

section {
  display: flex;
}

section h1 {
  color: var(--color-blue1);
  font-size: 42px;
}

.section-accueil {
  justify-content: center;
  align-items: center;
}

#section-accueil-1 button{
  margin-left: 0;
  margin-right: 5px;
  border-radius: 5px;
}

.section-accueil h4 {
  margin-bottom: 10px;
}

#section-accueil-1 div:nth-child(1) {
  width: 500px;
}

#sectionBoutonsAccueil {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
}

i {
  margin-right: 5px;
}

/**************************************************************
* SVG
**************************************************************/

svg {
  width: 800px;
  height: 600px;
	text-align: center;
}

/*#svg1 svg{
	width: 800px;
  height: 600px;
	text-align: center;
}

#svg2 svg{
	width: 800px;
  height: 600px;
	text-align: center;
}*/

/**************************************************************
* MENU COMPTE
**************************************************************/

#menu-drop {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 15px;
  top: 13%;
  right: 1%;
  width: 250px;
  background-color: var(--color-white);
  display: none;
}

#menu-drop ul {
  flex-direction: column;
}

#menu-part1 {
  text-align: center;
}

#menu-part1, #menu-part2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#menu-part2 li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px;
}

#menu-part2 form li {
  width: 100%;
}

#menu-drop ul li:last-child {
  border-bottom: none;
}

#menu-drop ul li button {
  padding: 0;
  margin: 0;
}

#user-mail {
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
  color: var(--color-black);
}

#user-type {
  font-size: 13px;
  font-variant: small-caps;
  padding-top: 0px;
  padding-bottom: 10px;
  color: var(--color-grey);
}

#btn-logout {
  border: none;
}

#btn-logout:hover {
  background-color: transparent;
  text-decoration: underline;
  color: var(--color-blue1);
}imgRecrutement

/**************************************************************
* LOG
**************************************************************/

output{
  color: red;
  font-size: 14px;
  text-align: center;
}

.authen button {
  font-size: 20px;
  display: none;
}

#section-log {
  justify-content: center;
  align-items: center;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  color: var(--color-blue1);
}

.form input, select, textarea {
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px solid var(--color-grey);
  outline: none;
  border-radius: 5px;
}

textarea {
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  max-height: 800px;
}

.form input:disabled {
  opacity: 60%;
}

select {
  background-color: transparent;
}

.form button {
  width: 100%;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  margin: 0;
  margin-top: 9px;
  padding: 5px 0;
}

button {
  background-color: transparent;
  color: var(--color-blue1);
  border: 2px solid var(--color-blue1);
  border-radius: 5px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}

#signup {
  border: 2px solid transparent;
}

#signup:hover {
  background-color: transparent;
  color: var(--color-blue1);
}

button:hover {
  background-color: var(--color-blue1);
  color: var(--color-white);
}

/**************************************************************
* PARRAINER
**************************************************************/

#section-parrainer form {
  width: 500px;
}

#coord-can-par {
  display: flex;
  flex-direction: row;
  position: relative;
}


#coord-candidat,#coord-parrain {
  width: 500px;
  display: flex;
  flex-direction: column;
}

#coord-can-par a{
  background-color: transparent;
  color: var(--color-blue1);
  border: 2px solid var(--color-blue1);
  border-radius: 5px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  text-align: center;
}

#coord-can-par a:hover{
  background-color: var(--color-blue1);
  color: var(--color-white);
}

#coord-can-par div div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#btn-envoyer{
  width: 100px;
  height: 33px;
}
#btn-envoyer,#btn-suivant,#btn-precedent{
  margin: 0;
  padding: 5px 15px;
}

#btn-precedent{
  height: 21px;
}
/**************************************************************
* FORMULAIRE
**************************************************************/

.section-formulaire {
  display: flex;
  justify-content: center;
}

/**************************************************************
* PROFIL
**************************************************************/

.section-profil {
  align-items: center;
  flex-direction: column;
}

.section-profil:nth-child(1) {
  padding-top: 20px;
  margin-bottom: 20px;
}

#container-profil {
  display: flex;
  flex-direction: column;
}

#img-profil {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#img-profil:hover {
  opacity: 80%;
}

.btn-menu-profil {
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
  font-weight: initial;
}

.btn-menu-profil:hover, .btn-menu-profil:focus {
  color: var(--color-black);
  border: 1px solid var(--color-black);
  background-color: transparent;
}

#img-profil-config {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 15px;
  width: 250px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

#img-profil-config form {
  display: flex;
  flex-direction: column;
}


/**************************************************************
* RECRUTER
**************************************************************/
#section1{
  display: flex;
  flex-direction: column;
  text-align: center;

}

#article1{
  display:flex;
  justify-content: center;
  align-items: center;
}
#article2{
  display:flex;
  justify-content: center;
  align-items: center;
}

#section2{
  display: flex;
  flex-direction: column;
  align-items:center;
}

/**************************************************************
* TROUVERUNJOB
**************************************************************/

#mainTrouverUnJob {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#mainTrouverUnJob #section1 {
  margin-top: 20px;
}

#sectionTUJ{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

#sectionTUJ section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#sectionTUJ section article #signup{
  border: 2px solid var(--color-blue1);
  margin-left: 0;
}

#sectionTUJ section article #signup:hover {
  background-color: var(--color-blue1);
  color: var(--color-white);
}

#sectionTUJ section article form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/**************************************************************
* TABLEAU DE BORD
**************************************************************/

#tableau-bord {
  flex-direction: column;
}

#tableau-bord h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-size: 14px;
  cursor: initial;
}

.sup form button, sup button {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.sup form button:hover, .sup button:hover {
  background-color: transparent;
  color: var(--color-black);
}

.sup form button i, .sup button i {
  color: var(--color-black);
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

tr:nth-child(even) {
  background-color: #dddddd;;
}

tr:nth-child(1):hover {
  background-color: var(--color-white);
}

tr:hover {
  background-color: var(--color-blue2);
}

tr:hover td {
  color: var(--color-white);
}

.nav-options-board button {
  margin-left: 0;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: initial;
  padding: 3px 12px;
  font-size: 14px;
  border: 1px solid var(--color-blue1);
}

.deleteMessage {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.addNewSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 15px;
  background-color: var(--color-white);
  padding: 10px;
}

.addNewSection button {
  margin: 0;
  border: none;
  font-size: 14px;
  width: max-content;
  margin-inline: auto;
}

.addNewSection button:hover {
  background-color: transparent;
  color: var(--color-blue1);
  text-decoration: underline;
}

.addNewSection form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.addNewSection form input, select, textarea {
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--color-grey);
  outline: none;
  border-radius: 5px;
  font-size: 14px;
}

.addNewSection form button {
  margin: 0;
  border: 1px solid var(--color-blue1);
  font-size: 14px;
  width: 100%;
  margin-bottom: 5px;
}

.addNewSection form button:hover {
  background-color: var(--color-blue1);
  color: var(--color-white);
  text-decoration: none;
}

/**************************************************************
* FOOTER
**************************************************************/

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-size: 12px;
  background-color: var(--color-white);
}

footer ul{
  justify-content: center;
}

footer ul li {
  list-style: none;
  padding: 10px 5px;
}

footer ul li a:hover {
  color: var(--color-black);
  text-decoration: underline;
}

/**************************************************************
* RESPONSIVE
**************************************************************/

@media only screen and (max-width: 600px) {

  body, html, main {
    min-height: 100%;
  }

  main {
    padding: 20px;
  }

  nav {
    flex-direction: column;
  }

  nav ul:nth-child(1) {
    flex-direction: column;
  }

  #nav-log {
    display: none;
  }

  nav>ul {
    margin: 0;
  }

  svg {
    width: 400px;
    height: 300px;
  }

  section {
    flex-direction: column;
    justify-content: center;
  }

  #section-accueil-1 div:nth-child(1) {
    width: auto;
    text-align: center;
  }

  .form {
    width: auto;
  }

  #section-accueil-1 div:first-child form {
    justify-content: center;
  }

  #article1 {
    flex-direction: column;
  }

  #article2 {
    flex-direction: column-reverse;
  }

  #signature{
    text-decoration: none;
    color: black;
  }

}
