@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
:root {
    --color-blue1: #0036d9;
    --color-blue2: #0036d94b;
    --color-yellow1: #fac120;
    --color-white: white;
    --color-black: black;
    --color-grey: #B9B8D8;
    --scale:1;
  }
body,html{
    padding: 0;
    margin: 0;
    font-family: Raleway;
    overflow: hidden;
    background-color: #f2f4fc;
}
#theLogo{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#logo{
    width: 100vw;
    height: 100vh;
    transform-origin:calc(63.76% - 5px)  calc(30.06% - 30px);
    transform:scale(6);
    padding: 0;
    margin: 0;
    overflow: visible;
}
#eye{
    transform-origin: calc(63.76%)  calc(30.06%);
    animation: eyeMovement 3s infinite alternate-reverse;
    cursor: pointer;
}
#nav{
    padding:50px 0 0 50px;
}
h1{
    padding:0;
    margin:0;
    font-weight:1000;
    font-size:110px;
    opacity:0;
}
h3{
    opacity: 0;
    padding:0;
    margin:-20px 0 0 25px;
    font-weight:10;
    font-size:30px;
}
#svg1 {
    margin: 0;
    padding: 0;
    opacity: 0;
    width: max-content;
    margin:auto;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
}
#svg1 svg {
    width: 800px;
}
.phone1{
    animation:2s hovering infinite alternate ease-in-out;
}
.phone2{
    animation:2s hovering infinite alternate ease-in-out;
    animation-delay: 0.5s;
}
#g1583{
    animation:2s scaling infinite alternate ease-in-out;
    animation-delay: 0.5s;
}
#path94, #path98 {
    cursor: pointer;
    z-index: 9;
}

#key-words p {
    position: absolute;
    font-size: 25px;
    opacity: 0;
}

#key-words p:nth-child(1) { /* travail en distanciel */
    top: 40%;
    right: 78%;
    animation: 2s wordsAnimation infinite alternate ease-in-out;
}

#key-words p:nth-child(2) { /* accompagnement */
    top: 55%;
    right: 5%;
    animation: 2s wordsAnimation infinite alternate ease-in-out;
    animation-delay: .5s;
}

#key-words p:nth-child(3) { /* profilage */
    top: 80%;
    right: 15%;
    animation: 2s wordsAnimation infinite alternate ease-in-out;
    animation-delay: 1s;
}

#key-words p:nth-child(4) { /* réussite */
    top: 80%;
    right: 85%;
    animation: 2s wordsAnimation infinite alternate ease-in-out;
    animation-delay: 1.5s;
}

#key-words p:nth-child(5) { /* confiance */
    top: 30%;
    right: 25%;
    animation: 2s wordsAnimation infinite alternate ease-in-out;
    animation-delay: 2s;
}

#key-words p:nth-child(6) { /* sérieux */
    top: 60%;
    right: 80%;
    animation: 2s wordsAnimation infinite alternate ease-in-out;
    animation-delay: 2.5s;
}

#path44 {
    animation: 2s anim44 infinite alternate ease-in-out;
}


@keyframes anim44 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(5px);
    }
}

@keyframes wordsAnimation {
    0% {
        transform: scale(.95);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hovering{
    0%{
        transform:scale(var(--scale))  translateY(0);
    }
    100%{
        transform:scale(var(--scale)) translateY(15px);
    }
}
@keyframes eyeMovement{
    0%{
        transform: translateY(0) translateX(0);
    }
    25%{
        transform: translateY(-4px) translateX(3px);
    }
    50%{
        transform: translateY(5px) translateX(-2px);
    }
    75%{
        transform: translateY(-4px) translateX(3px);
    }
    100%{
        transform: translateY(2px) translateX(-1px);
    }
}